__pycache__/

# Ignore top-level environment file
/environment.yml

# Ignoe\re all shell scripts
*.sh

# Ignore all out files
*.out
# Ignore all log files
*.log

# Ignore all env files
*.env

# Ignore test.py file
test.py